/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main styling */
html,
body {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  line-height: 1.7em;
}

a {
  /* the hyperlinks */
  color: #333;
  /* ensures the hyperlinks aren't underlined */
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px, 0;
}

.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

.text-primary {
  color: #f7c08a;
}

.lead {
  font-size: 20px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: whitesmoke;
  background: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #f7c08a;
  color: #333;
}

/* Nav bar */
#navbar {
  background: #333;
  /* text colour -> doesn't apply to links */
  color: #fff;
  /* ensures nothing overrules background */
  overflow: auto;
}

#navbar a {
  /* colours the links white */
  color: #fff;
}

#navbar h1 {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  /* gets rid of the bullet points */
  list-style: none;
  /* forces  */
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  /* creates spacing between the words */
  padding: 20px;
  /* centers all the words */
  text-align: center;
}

#navbar ul li a:hover {
  /* creates hover effect */
  background: #444;
  /* words are coloured when hovered over */
  color: #f7c08a;
}

#showcase {
  background: url(../imageResources/showcase.jpg) no-repeat center center/cover;
  height: 600px;
}

#showcase .showcase-content {
  color: #fff;
  text-align: center;
  padding-top: 170px;
}

#showcase .showcase-content h1 {
  font-size: 60px;
  line-height: 1.2em;
}

#showcase .showcase-content p {
  padding-bottom: 20px;
  line-height: 1.7em;
}
